<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  </script>
<% end %>
<script type="text/javascript">
  window.onscroll = function() {
    let currentScrollPos = window.pageYOffset;
      if (currentScrollPos > 0) {
        document.getElementById("header").classList.add("header");
      } else {
        document.getElementById("header").classList.add("header-top");
        document.getElementById("header").classList.remove("header");
      }
  }
</script>

<div id="root"></div>