// Place all the styles related to the api/boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.boards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fafbfc;
}

.boards-list {
    border: 1px solid transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 85px;
    width: 70%;
    min-height: 1px;
}

.boards-index {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 85px;
}

.boards-header-name {
    display: flex;
    justify-content: start;
    top: 0;
    left: 0;
    margin-bottom: 35px;
    font-size: 16px;
    font-weight: 700;
    color: #172b4d;
    span {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: start;
        border: 1px solid transparent;
        border-radius: 3px;
        background: transparent;
        transition: background  0.2s ease 0s;
    }

    span:hover {
        cursor: pointer;
        background: rgba(0, 0, 0, 0.2);
    }
}

// .boards-item-container {
//     background: #0079BF;
//     width: 20%;
//     border: 1px solid transparent;
//     border-radius: 3px;
//     display: block;
//     line-height: 20px;
//     margin: 8px;
//     position: relative;
//     margin: 0 2% 8px 0;
//     min-height: 1px;
//     min-width: 100px;
// }

// .boards-item {
//     min-width: 100px;
// }

// .boards-item {
//     background: #0079BF;
//     transition: background 0.2s;
// }

// .boards-item:hover {
//     background: rgba(0, 0, 0, 0.5);
// }

#new-b {
    border: 1px solid transparent;
    border-radius: 3px;
    background: rgba(9,30,66,0.04);
    color: #172b4d;
}

.item-link:link, .item-link:visited {
    text-align: center;
    // width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    border: 0px solid transparent;
    border-radius: 3px;
    text-decoration: none;
    height: 80px;
    background: #0079BF;
    padding: 1em 1.5em;
    
}

.item-link {
    background: #0079BF;
    border: 1px solid transparent;
    border-radius: 3px;
    display: block;
    line-height: 20px;
    margin: 8px;
    position: relative;
    min-height: 1px;
}

.list-container {
    width: 25%;
    min-width: 150px;
}

.modal-child {
    width: 25%;
    height: auto;
}

.board-form-container {
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 8px;
    background: white;
}

.board-form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    // min-width: 150px;
    width: 100%;
    height: 100%;
    background: transparent;
    transition: background  0.2s ease 0s;
    z-index: 2;
}

.overlay:hover {
    background: rgba(0, 0, 0, 0.2);
}

.overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 150px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.bbg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0px solid transparent;
    border-radius: 3px;
}

.board-bg {

}

.b-title {
    z-index: 1;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.99;
}

.board-bar {
    justify-content: space-between;
    color: white;
    font-size: 14px;
    line-height: 32px;
    background: rgba(0,0,0,0.04);
    padding: 8px 4px 4px 8px;
}

.board-title {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    max-width: calc(100% - 24px);

}

.board-name {
    color: white;
    font-size: 100%;
    line-height: 32px;
    font-weight: 700;
    background: rgba(0,0,0,0.04);
    padding: 8px 4px 4px 8px;
    display: flex;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: 3px;
    background: transparent;
}

.board-name:hover {
    cursor: pointer;
    // background: rgba(255,255,255,0.04);
    background: hsla(0,0%,100%,.24);
}

.archive {
    font-size: 20px;
}

.b-closed {
    justify-content: center;
    padding-top: 85px;

    h1 {
        color: #5e6c84;
        font-size: 24px;
    }
}

.b-closed-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    span {
        color: #5e6c84;
        margin-bottom: 64px;
        text-decoration: underline;
    }

    span:hover {
        cursor: pointer;
        color: #172b4d;
    }
}

.name-input {
    display: none;
    display: block;
}

.nav-actions {
    display: flex;
    align-items: center;
    i {
        height: auto;
    }
    .btn {
        height: 100%;
    }
}

.i {
    font-weight: 400;
    font-size: 1.25rem;
    text-align: center;
    vertical-align: middle;
    // border: 1px solid transparent;
    padding: 6px 12px;
}

// .i-carot {
//     // border: 1px solid #172b4d;
//     // border: 1px solid rgba(23, 43, 77, 0.5);
//     // border: 1px solid rgba(23, 43, 77, 0.23);
//     border: 1px solid transparent;
//     border-radius: 3px;
//     background: transparent;
//     transition: background  0.2s ease 0s;
// }

// .i-carot:hover {
//     cursor: pointer;
//     background: rgba(0, 0, 0, 0.2);
// }


.archived {
    visibility: hidden;
    // display: none;
    max-height: 0;
    opacity: 0;
    transition: visibility 0s ease 300ms, opacity 300ms;
}

.show {
    visibility: visible;
    // display: flex;
    max-height: 100%;
    opacity: 1;
    transition: visibility 700ms ease 0s, opacity 300ms;
}

.list-container {
    min-height: 100px;
}

.nav-ele {
    margin: 0 32px;
}

.board-bg {
    position: absolute;
    min-height: 100vh;
    width: 100%;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    // z-index: -1;
}

.focused {
    display: block;
}

.close-x {
    color: black;
    display: flex;
    justify-content: flex-end;
    font-weight: 400;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    font-size: 1.25rem;
    border-radius: 6px;
    width: 100%;
    margin-right: 3px;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    span {
        margin-right: 5%;
    }
}

.close-x:hover {
    cursor: pointer;
    text-decoration: none;
}

.form-name {
    display: flex;
    justify-content: center;
}

.photo-up {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -16%;
}

#i-title input {
    width: 100%;
    font-size: 10px;
}

.board-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    input[type=file] {
        display: flex;
        justify-content: center;
        width: 50%;
    }
    label {
        display: flex;
        justify-content: space-between;
    }
}

.in {
    padding: 10px;
}

.login-input {
    font-size: 20px;
    height: 10px;
    padding: 20px;
}

.list {
    display: flex;
    font-size: 24px;
    color: white;
    font-weight: 700;
    h1 {
        margin: 0 5px;
    }
}

.hidden2 {
    visibility: hidden;
    display: none;
}

.bg-update-text {
    width: 100%;
    padding-right: 20px;
    font-size: 24px;
    font-weight: 700;
}

.bg-board {
    display: flex;
    justify-content: flex-end;
}