// Place all the styles related to the api/cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cards-content-container {
  color: #172b4d;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
  cursor: pointer;
  margin-bottom: 8px;
  max-width: 300px;
  min-height: 20px;
  text-decoration: none;
  z-index: 0;
}

.cards-content-container:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.list-card-details {
  overflow: hidden;
  padding: 6px 8px 2px;
  position: relative;
  z-index: 10;
  max-width: 19vw;
}

.card-actions {
  display: flex;
  align-items: center;

  .btn-save {
    width: auto;
    margin-right: 4px;
  }

  .btn-cancel {
    margin: 0 11px;
    background-color: transparent;
    color: #42526e;
    font-size: 24px;
    font-weight: 250;
    line-height: 32px;
    border: 1px solid transparent !important;
  }
}

.submit-card-input {
  text-align: center;
  width: 34% !important;
}

.card-input2 {
  width: 15%;
  border: 1px solid transparent;
  padding: 0;
  margin: 0 3%;
  color: #42526e;

  .btn {
    padding: 0;
  }
}

.card-input2:hover {
  cursor: pointer;
  color: #172b4d;
}

.card-form-container {
  display: flex;
  flex-direction: column;
}

.card-input {
  padding: 11px;
  font-size: 16px;
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
  cursor: text;
  display: block;
  margin-bottom: 8px;
  max-width: 300px;
  min-height: 20px;
  position: relative;
  text-decoration: none;
  z-index: 0;
}

.card-input:focus {
  outline: none;
}

.card-input-container {
  padding: 0;
  background-color: transparent;
  box-shadow: none;
}

.card-input-container:hover {
  background-color: transparent;
}

.card-text {
  padding: 6px 8px 2px;
  color: #5e6c84;
  background-color: transparent;
  box-shadow: none;
}

.card-text:hover {
  color: #172b4d;
  background-color: rgba(9, 30, 66, 0.08);
}

.card-show-details {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card-show-content {
  background: #f4f5f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  padding-bottom: 24px;
  border: 1px solid transparent;
  border-radius: 2px;
  position: relative;
  min-height: 70%;
  margin: 48px 0 80px;
}

.quiet {
  color: #5e6c84;
}

.close-card {
  display: flex;
  place-self: flex-end;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid transparent;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  padding: 4px;
  margin: 4px;
  transition: background-color 85ms, color 85ms;

  i {
    font-size: 24px;
    color: #42526e;
  }
}

.close-card:hover {
  cursor: pointer;
  background-color: rgba(9, 30, 66, 0.08);
  color: #42526e;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.button-link {
  background-color: rgba(9, 30, 66, 0.04);
  box-shadow: none;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 32px;
  margin-top: 8px;
  max-width: 300px;
  overflow: hidden;
  padding: 6px 12px;
  position: relative;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  text-overflow: ellipsis;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 85ms;
  transition-timing-function: ease;

  a {
    color: #172b4d;
  }

  a:hover {
    text-decoration: none;
    color: #091e42;
  }
}

.button-link:hover {
  background-color: rgba(9, 30, 66, 0.08);
  box-shadow: none;
  border: none;
}

.card-header {
  display: flex;
  flex-direction: column;
  padding: 8px 0;

  .card-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    color: #172b4d !important;

    .card-header-icon {
      display: flex;

      align-items: center;
      box-sizing: border-box;
      height: 32px;
      width: 32px;
    }

    .card-title-label {
      font-weight: 600 !important;
      color: #172b4d;
      line-height: 24px;
      margin: 0 0 8px;
      margin-block-start: 0.4em;
      margin-block-end: 0.4em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      overflow: hidden;
      overflow-wrap: break-word;
      min-height: 24px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 8px;
    }

    .card-title-label:focus {
      cursor: auto;
    }
  }

  .card-current-list {
    cursor: default;
    margin: 4px 8px 4px 2px;

    strong {
      font-weight: bold;
    }
  }
}

.card-main-container {
  display: flex;

  .card-main {
    width: -webkit-fill-available;
    padding: 8px 0;

    h3 {
      font-size: 16px;
      line-height: 20px;
      font-weight: 600;
      margin-left: 8px;
    }

    .card-main-desc {
      padding: 8px 0;

      .card-desc-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 20px;
        color: #172b4d;

        .card-desc-icon {
          display: flex;

          align-items: center;
          box-sizing: border-box;
          height: 32px;
          width: 32px;
          transform: rotateX(180deg);
        }
      }

      .card-desc-content {
        margin-left: 40px;
      }
    }

    .card-activity {
      padding: 8px 0;

      .card-activity-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 20px;
        color: #172b4d;

        .activity-icon {
          display: flex;

          align-items: center;
          box-sizing: border-box;
          height: 32px;
          width: 32px;
          transform: rotateX(180deg);
        }
      }
    }
  }

  .card-sidebar {
    width: 168px;
    padding: 8px 0;
  }
}

.card-sidebar {
  overflow: hidden;
  position: relative;

  h3 {
    color: #5e6c84;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    line-height: 20px;
    margin-bottom: -4px;
  }
}

.card-description-input {
  resize: none;
  min-height: 54px;
  word-break: break-word;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid transparent;
  width: 100%;
  background: transparent;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
    Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
}

.card-description-input:hover {
  cursor: pointer;
}

.card-description-input:focus {
  cursor: auto;
  min-height: 108px;
  background: #fff;
  box-shadow: inset 0 0 0 2px #0079bf;
  border: none;
}

.card-content-container {
  .modal-child {
    width: auto;
    z-index: 25;
    height: 100%;
    width: 768px;
  }

  @media only screen and (max-width: 750px) {
    .modal-child {
      margin: 36px 8px;
      width: auto;
    }
  }
}

.delete-cont {
  display: flex;
  background-color: #cf513d;
  color: #fff;
  box-shadow: none;
  border: none;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 85ms;
  transition-timing-function: ease;
}

.delete-icon,
.share-icon,
.copy-icon,
.move-icon,
.clock-icon {
  margin: 0 6px 0 -6px;
}

.cancel-desc-icon {
  color: #42526e;
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 11px;
}

.delete-cont:hover {
  background-color: #eb5a46;
}

.share-cont,
.copy-cont,
.move-cont,
.due-date-cont {
  display: flex;
  color: #42526e;
  box-shadow: none;
  border: none;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 85ms;
  transition-timing-function: ease;
}

.main-action-cont {
  display: flex;
  align-items: center;

  .btn-success {
    width: auto;
  }
}

#cancel-desc {
  margin: 0 11px;
  background-color: transparent;
  color: #42526e;
  font-size: 24px;
  font-weight: 250;
  line-height: 32px;
  border: 1px solid transparent;
}

.url-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #42526e;
  min-height: 100px;
  z-index: 4;
  height: auto;
  width: 100%;
  position: relative;
  right: 0;

  #url-text {
    max-height: 30px;
    border: 1px solid #5e6c84;
    border-radius: 3px;
    color: #42526e;
    font-size: 14px;
    overflow: auto;
    outline: none;
    width: 100%;
    resize: none;
  }

  .btn-success {
    margin: 4px;
    width: auto;
  }
}
