// Place all the styles related to the api/cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cards-content-container {
    color: #172b4d;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    cursor: pointer;
    // display: block;
    margin-bottom: 8px;
    max-width: 300px;
    min-height: 20px;
    // position: relative;
    text-decoration: none;
    z-index: 0;
}

.cards-content-container:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.list-card-details {
    overflow: hidden;
    padding: 6px 8px 2px;
    position: relative;
    z-index: 10;
}
