// Place all the styles related to the api/cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cards-content-container {
    color: #172b4d;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    cursor: pointer;
    // display: block;
    margin-bottom: 8px;
    max-width: 300px;
    min-height: 20px;
    // position: relative;
    text-decoration: none;
    z-index: 0;
}

.cards-content-container:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.list-card-details {
    overflow: hidden;
    padding: 6px 8px 2px;
    position: relative;
    z-index: 10;
    max-width: 19vw;
}

.card-actions {
    // max-width: 25%;
    display: flex;
    align-items: center;

    // .card-btn-text {
    //     color: #fff;
    // }

    // .btn {
    //     color: red;
    // }
}

.submit-card-input {
    text-align: center;
    width: 34% !important;
}

.card-input2 {
    width: 15%;
    border: 1px solid transparent;
    padding: 0;
    margin: 0 3%;
    color: #42526e;

    .btn {
        padding: 0;
    }
}

.card-input2:hover {
    cursor: pointer;
    color: #172b4d;
}

.card-form-container {
    display: flex;
    flex-direction: column;
}

.card-input {
    // min-height: 40px;
    padding: 11px;
    font-size: 16px;
    // font-weight: bold;
    border: 1px solid transparent;
    border-radius: 3px;
    // margin: 3px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    cursor: text;
    display: block;
    margin-bottom: 8px;
    max-width: 300px;
    min-height: 20px;
    position: relative;
    text-decoration: none;
    z-index: 0;
}

.card-input:focus {
    outline: none;
}

.card-input-container {
    padding: 0;
    background-color: transparent;
    box-shadow: none;
}

.card-input-container:hover {
    background-color: transparent;
}

.card-text {
    padding: 6px 8px 2px;
    color: #5e6c84;
    background-color: transparent;
    box-shadow: none;
}

.card-text:hover {
    color: #172b4d;
    background-color: rgba(9,30,66,.08);
}

.card-show-container {
    position: relative;
    z-index: 100;
    background-color: white;
    min-height: 400px;
}