// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
    scroll-behavior: smooth;
}

.main {
    position: relative;
    // top: -85px;
}

header {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: transparent;
    box-shadow: none;
    // box-shadow: 0 0 10px rgba(0,0,0,0.3);
    transition: background  1s ease 0s, box-shadow 1s ease 0s;
    z-index: 10;
}

.header-top {
    background: transparent;
}

.header {
    background: #0079BF;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#logo {
    display: flex;
    justify-content: center;
}

.header-group {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

a:link, a:visited {
    // color: #0079BF;
    text-decoration: none;
}

.navbar-content a:link, .navbar-content a:visited {
    margin-left: 10px;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.main {
    // background: linear-gradient(135deg, #0079bf, #5067c5);
    background-color: #0079BF;

}

#btn-demo {
    
}

#logo {
    color: #ffffff;
    font-size: 1.5625rem;
    margin: 1.5rem;
    text-decoration: none;
}

#login {
    color: #ffffff;
    border: 1px solid transparent;
    border-radius: .2rem;
    padding: .25rem;
}

#signup {
    background-color: white;
    border: 1px solid transparent;
    border-radius: .2rem;
    padding: .25rem;

}

#signup:hover {
    text-decoration: none;
}

.btn:hover {
    cursor: pointer;
}

#form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
}

#session-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 85px;
}

#form-element-container {
    display: flex;
    flex-direction: column;
    max-width: 585px;
}

.form-input {
    box-sizing: border-box;
    border: 2px solid #DFE1E6;
    border-radius: 3px;
    background-color: rgb(250, 251, 252);
    padding: 0.5rem;
    height: 44px;
    font-size: 14px;
    color: rgb(77, 77, 77);
    transition: background-color .2s ease-in-out 0s,border-color .2s ease-in-out 0s;
    width: 100%;
    margin-bottom: 18px;
}

.form-input:focus {
    border: 2px solid #4C9AFF;
    background-color: white;
}

#submit-btn {
    background-color: #5AAC44;
    border: 2px solid transparent;;
    border-radius: 3px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 18px;
    width: 100%;
}

.bottom-form-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    margin-top: 18px;
}

.error-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-item {
    color: red;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background-color: #0079BF;
}

.navbar-content {
    margin-right: 1.5rem;
}

.form-title {
    text-align: center;
    color: #5E6C84;
    font-size: 1.5625rem;
    margin-top: 10px;
    margin-bottom: 25px;
}

.main {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

#toggle-form {
    color: #4C9AFF;
}

#submit-btn:hover {
    background-color: #61BD4F;
}

// #submit-div {
//     display: flex;
//     justify-content: center;
// }
.error-list {
    align-items: flex-start;
}
.error-item {
    border: 1px solid #EB5A46;
    border-radius: 4px;
    background-color: #eb5a46;
    color: #fbedeb;
    padding: 0.5em 1em;
    margin: 0.5em;
    line-height: 1.333;
}

.header-name {
    margin-right: 1.5rem;
    color: #ffffff;
}

.btn-logout {
    background-color: #cf513d;
    border: 2px solid transparent;;
    border-radius: 3px;
    color: #ffffff;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 20px;
}

.btn-logout:hover {
    background-color: #eb5a46;
}

.btn-success {
    background-color: #5AAC44;
    border: 2px solid transparent;;
    border-radius: 3px;
    color: #ffffff;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 20px;
}

.btn-success:hover {
    cursor: pointer;
    background-color: #61BD4F;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 6px;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn a:link, .btn a:visited {
    color: #fff;
}

.btn:hover, .btn:focus {
    text-decoration: none;
}

.btn-secondary {
    color: #fff;
    background-color: #6D8EA2;
    border-color: #6D8EA2;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #5b7b8e;
    border-color: #567486;
}

.splash-welcome-container {
    position: relative;
    margin-top: -85px;
    // top: -85px;
    background: linear-gradient(135deg, #0079bf, #5067c5);
    padding-top: 85px;
    padding-bottom: 5rem;
}

.splash-collaborate-container {
    background: #fff;
    // padding-top: 85px;
}

.splash-container {
    display: flex;
    // flex-direction: row;
    align-items: center;
    margin-right: 7%;
    margin-left: 7%;
}

.collaborate-container {
    padding-top: 3rem;
    padding-left: 15px;
    padding-right: 15px;
}

.welcome-msg h1 {
    color: #ffffff;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    box-sizing: border-box;
}

.welcome-msg p {
    color: #ffffff;
    font-size: 1.5625rem;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

.text-center {
    text-align: center;
}

.welcome-img {
    margin-left: 8.3%;
}

.splash-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.splash-row h3 {
    font-size: 2.1875rem;
    font-weight: 500;
    line-height: 1.2;
    color: rgb(23, 43, 77);
}

.features-container {
    display: flex;
    justify-content: center;
}

.splash-features-container {
    background-color: #fff;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.splash-card {
    min-height: 1px;
    width: 100%;
    max-width: 33%;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;

    h5 {
        font-size: 1.5625rem;
    }
}

.splash-get-started-container {
    padding-top: 1.5rem;
    // margin-bottom: 1.5rem;

    // .get-started-container {
    //     text-align: center;
    //     padding-bottom: 5rem;
    //     padding-top: 1.5rem;
    //     padding-right: 3rem;
    //     padding-left: 3rem;
    //     max-width: 960px;

    //     .splash-column {
    //         display: flex;
    //         justify-content: center;
    //         // margin-left: 25%;
    //         max-width: 50%;
    //         .splash-row {
    //             flex-direction: column;
    //             align-items: center;
    //         }
    //     }

    // }

}

#gs1 {
    h3 {
        font-size: 2.1875rem;
        margin-bottom: 0.5rem;
        font-weight: 500;
        line-height: 1.2;
        color: #172B4D;
    }

    p {
        margin-bottom: 1rem;
        text-align: center;
        line-height: 1.5;
        font-size: 1.25rem;
    }
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    max-width: 384px;
}

.get-started-container {
    background: transparent;
    display: flex;
    justify-content: center;
    background-image: url(https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/97db7688a52a697ea9376a5f0fe5d98f/trellians-2x-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1332px 393px;
}

.small {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 1rem;
}

.app-store {
    margin-bottom: 1rem;
    text-align: center;
}

.img-fluid {
    border: 1px solid transparent;
    border-radius: 0.3em;
    box-shadow: 0 1px 0 #a5acb0;
    height: 44px;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    opacity: 0.8;
    vertical-align: middle;
}

.board .splash-board-header .title h3 {
    font-size: 1.25rem;
    letter-spacing: 1px;
    margin: 0;
}

.sm-col {
    max-width: 41.67%;
}

.splash-column{
    padding-left: 15px;
    padding-right: 15px;
} 

.splash-column p {
    color: #172B4D;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

.board {
    padding: 18px;
    margin-bottom: 30px;
    background: linear-gradient(#3EB9DE, #3A80DE);
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    box-shadow: 0 10px 20px rgba(74,115,159,0.29);
    cursor: default;
    font-size: 1rem;
    margin-bottom: 30px;
    overflow: hidden;
    padding: 18px;
    position: relative;
    text-align: left;
}

#f1 {
    max-width: 50%;
    h3 {
        font-size: 2.1875rem;
    }
}

#signup {
    background-color: white;
    border: 2px solid transparent;;
    border-radius: 3px;
    color: #0079BF;
    width: auto;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 20px;
}

#signup:hover {
    background-color: #ffffff;
}

#form-container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

#submit-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#input-container {
    width: 100%;
}

#form-elements-container {
    padding: 25px 40px;
    box-shadow: rgba(0,0,0,0.1) 0 0 10px;
    background-color: #ffffff;
}

#logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1.5rem;
}

#logo-container > i {
    color: #ffffff;
    font-size: 40px;
}

#welcome {
    display: flex;
    justify-content: center;
    align-items: center;
}

#session-actions-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#get-started {
    background: linear-gradient(to bottom, #fff 0%, #f7ecff 46%, #d2ecff 74%, #fff 100%);
}